@charset"utf-8";

*{margin:0pxpadding:0px;}

body, p, li, a { font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif };
h1 { font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif };
body { margin:0;padding:0;}
body { margin-left:2px; padding-left:2px;}

#hd {
	/* position : fixed; */
	top : 0;
	left : 0;
	width : 100%;
	height : auto;
	margin : 0;
	padding : 0.3em;
	text-align : left;
	background : #6493D2;
	white-space: nowrap;
}

#hd h1 {
	color : white;
	/* font-size:1.0em; */
	font-size:1.1em;
	display: inline;
}

#hd a {
	color : white;
	/* font-size:1.0em; */
	font-size:0.8em;
	display: inline;
}

#hd span {
	color : white;
	/* font-size:1.0em; */
	font-size:0.8em;
	display: inline;
}

#ft {
	color : white;
	position : auto;
	bottom : 0px;
	width : 100%;
	height : auto;
	margin-top : 1.0em;
	background-color : #6493D2;
	border-top : 1px solid #888;
	z-index : 0;
	font-size:0.8em;
}

#pageName {
	font-size:0.8em;
}

#logo,#bd {
	width : 650px;
	margin: 0 auto;
	padding: 25px 50px 0 50px;
}

#logo h1 {
	color : white;
	/* font-size:36pt; */
	display: inline;
}

#logo img { 
	display:inline;
	vertical-align: bottom;
	margin-left : 50px;
	margin-right : 5px;
}

#logo, #logo h1 { margin-top : 0; padding-top : 0;}

#bd {
	width : auto;
	height : auto;
	position : absolute;
	top : 30px;
	left : 10px;
	margin-top : 30px;
	margin-left : 30px;
	z-index : 1;
	overflow: auto;
	background-color : #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #00b8ff;
	-webkit-box-shadow: 0px 0px 10px #00b8ff;
	box-shadow: 0px 0px 10px #00b8ff;
}

a, a:hover, a:active {
	color: blue;
	font-weight:normal;
	/* font-size:1.1em; */
}

a, a:visited {
	color: black;
	font-weight:normal;
	/* font-size:1.1em; */
}

h1 {
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 10px;
	/* margin-left: 0px; */
	font-size: 1.4em;
	/* color: #888888; */
}

h2 {
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0.0em;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	font-size: 1.3em;
	/* color: navy; */
	/* border-left: solid 12px #088A4B; */
	/* border-right: solid 1px #088A4B; */
	border-top: solid 1px #088A4B;
	border-bottom: solid 1px #088A4B;
}

h3 {
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0.3em;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	font-size: 1.1em;
	/* color: navy; */
	/* border-bottom: solid 1px black; */
	border-left: solid 4px #088A4B;
}

h4 {
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0.0em;
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 1.0em;
	/* color: navy; */
	position: relative;
	/* padding-left: 1.1em; */
	line-height: 1.4;
	/* border-left: solid 6px #088A4B; */
}

p {
	padding : 0; margin:0;
	margin-top : 0px;
	margin-left : 0px;
}

button.top-button {
	width: 200px;
	font-size: 1.1em;
	text-align: ccenter;
	padding: 10px 10px 10px 10px;
	border: 1px solid #225588;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

button.top-button:hover{
	background-color: aqua;
}

button.small-button {
	/* width: 300px; */
	/* font-size: 1.4em; */
	text-align: ccenter;
	padding: 3px 10px 3px 10px; /* top right bottom left */
	border: 1px solid #225588;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

button.small-button:hover{
	background-color: aqua;
}

.entityListTable {
 width: 100%;
 table-layout: auto;
 border-collapse: collapse;
 }
 
 .entityListTable th{
 /* width: 25%; */
 padding: 6px;
 text-align: left;
 vertical-align: top;
 color: #333;
 background-color: #eee;
 border: 1px solid #b9b9b9;
 }
 
 .entityListTable td{
 padding: 6px;
 /* background-color: #fff; */
 border: 1px solid #b9b9b9;
 }
 
 .entityListTable tr:nth-child(even){
 background: #eee;
 }

.f09 {
	font-size:0.9em;
}
.f08 {
	font-size:0.8em;
}
.f07 {
	font-size:0.7em;
}

div.hd {
        width="100%";
	 margin-top: 0px;
	 margin-right: 0px;
	 margin-bottom: 0px;
	 margin-left: 0px;
        word-wrap: 
        break-word;
        background-color:#088A4B;
        height:40px;
}

div.bd {
        width="100%";
        margin-left:20px;
        margin-right:20px;
        word-wrap: 
        break-word;
}
a.menu {
	font-size:1.0em;
       color:#ffffff;
       text-decoration: none;
}
a:hover{
text-decoration:underline;
}
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

span.small_mark {
    font-size: 60%;
    color:black;
}

span.small_text {
    font-size: 80%;
}



a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}
